# Exercise 3

<img src="https://img.itch.zone/aW1nLzM0MzUxOTUuanBn/original/FuMxog.jpg" />

In this exercise, you will perform EDA on the popular Pokémon dataset, which contains detailed information about hundreds of Pokémon, including their stats, types, generation, and whether they are legendary.

The Pokémon dataset is ideal for practicing EDA because it includes a mix of numerical features (such as Attack, Defense, Speed, HP) and categorical features (such as Type 1, Type 2, and Generation). This combination allows you to apply a wide range of EDA techniques, including summary statistics, data visualizations, grouping and aggregation, correlation analysis, and comparisons across categories.

Throughout the exercise, you will explore questions such as:
- Which Pokémon tend to have the highest or lowest stats?
- How do different Pokémon types compare in terms of strength or defense?
- Do Legendary Pokémon differ significantly from non-Legendary ones?
- How are various stats distributed across the entire dataset?
- Are there relationships or trade-offs between certain attributes (e.g., Attack vs. Defense)?

In [21]:
import kagglehub
import os
import pandas as pd

In [22]:
# Download latest version
path = kagglehub.dataset_download("abcsds/pokemon")
print("Path to dataset files:", path)

Using Colab cache for faster access to the 'pokemon' dataset.
Path to dataset files: /kaggle/input/pokemon

In [23]:
if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

True


## 1: Data Understanding (4 pts)

1. Display the first 10 rows.

In [24]:
# put your answer here
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

2. Show dataset shape.

In [25]:
df.shape

(800, 13)

3. Show all columns and its data types.

In [26]:
# put your answer here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

4. Identify which columns contain missing values.

In [164]:
# put your answer here
missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0]

print("Columns with missing values:")
print(missing_values)

Columns with missing values:
Type 2    386
dtype: int64

## 2. Summary Statistics (4 pts)

1. Generate `df.describe()`.

In [165]:
# put your answer here
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

2. Get mean, median, and mode of Attack.

In [166]:
# put your answer here
print("Mean:", df["Attack"].mean())
print("Median:", df["Attack"].median())
print("Mode:", df["Attack"].mode())

Mean: 79.00125
Median: 75.0
Mode: 0    100
Name: Attack, dtype: int64

3. Compute 25th and 75th percentiles for HP.

In [167]:
# put your answer here
print("25th percentile:", df["HP"].quantile(0.25))
print("75th percentile:", df["HP"].quantile(0.75))

25th percentile: 50.0
75th percentile: 80.0

4. Compute standard deviation and variance of Speed.

In [168]:
# put your answer here
print("Standard deviation:", df["Speed"].std())
print("Variance:", df["Speed"].var())

Standard deviation: 29.06047371716149
Variance: 844.5111326658338

## 3. Filtering & Selection `(7 pts)`

Select all Pokémon with Attack > 100.

In [169]:
# put your answer here
df[df["Attack"] > 100]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
39,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Select all Pokémon whose primary type (Type 1) is "Fire".

In [175]:
# put your answer here
df[df["Type 1"] == "Fire"]["Name"]

4                     Charmander
5                     Charmeleon
6                      Charizard
7      CharizardMega Charizard X
8      CharizardMega Charizard Y
42                        Vulpix
43                     Ninetales
63                     Growlithe
64                      Arcanine
83                        Ponyta
84                      Rapidash
135                       Magmar
147                      Flareon
158                      Moltres
169                    Cyndaquil
170                      Quilava
171                   Typhlosion
236                       Slugma
237                     Magcargo
259                        Magby
263                        Entei
270                        Ho-oh
276                      Torchic
277                    Combusken
278                     Blaziken
279        BlazikenMega Blaziken
352                        Numel
353                     Camerupt
354        CameruptMega Camerupt
355                      Torkoal
435                     Chimchar
436                     Monferno
437                    Infernape
518                    Magmortar
542                      Heatran
557                        Tepig
558                      Pignite
559                       Emboar
572                      Pansear
573                     Simisear
614                     Darumaka
615      DarmanitanStandard Mode
616           DarmanitanZen Mode
692                      Heatmor
721                     Fennekin
722                      Braixen
723                      Delphox
730                  Fletchinder
731                   Talonflame
735                       Litleo
736                       Pyroar
799                    Volcanion
Name: Name, dtype: object

Select all Pokémon that are Legendary.

In [174]:
# put your answer here
df[df["Legendary"] == True]["Name"]

156               Articuno
157                 Zapdos
158                Moltres
162                 Mewtwo
163    MewtwoMega Mewtwo X
              ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 65, dtype: object

Select all Pokémon that are Generation 1 AND Legendary.

In [177]:
# put your answer here
df[(df["Generation"] == 1) & (df["Legendary"] == True)]["Name"]

156               Articuno
157                 Zapdos
158                Moltres
162                 Mewtwo
163    MewtwoMega Mewtwo X
164    MewtwoMega Mewtwo Y
Name: Name, dtype: object

Select all Pokémon that are Water type OR Grass type.

In [52]:
# put your answer here
df[(df["Type 1"] == "Water") | (df["Type 2"] == "Water") | ((df["Type 1"] == "Grass") | (df["Type 2"] == "Grass"))]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Select all Pokémon that are Fire type AND Attack > 120.

In [54]:
# put your answer here
df[((df["Type 1"] == "Fire") | (df["Type 2"] == "Fire")) & (df["Attack"] > 120)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
279,257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False

Select all Pokémon whose type is in this list:
`["Dragon", "Ghost", "Dark"]`.

In [61]:
# put your answer here
choices = ["Dragon", "Ghost", "Dark"]
df[(df["Type 1"].isin(choices)) | (df["Type 2"].isin(choices))]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,405,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,600,60,65,80,170,95,130,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True

## 4. Categorical Exploration `(9 pts)`

Find the number of Pokémon per primary type.

In [64]:
# put your answer here
df["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Find the number of Pokémon per generation.

In [65]:
# put your answer here
df["Generation"].value_counts()

Generation
1    166
5    165
3    160
4    121
2    106
6     82
Name: count, dtype: int64

Which type appears the most? Which appears the least?

In [196]:
 # put your answer here
type_comparison = (
    pd.concat([
        df["Type 1"].value_counts().rename("A"),
        df["Type 2"].value_counts().rename("B")
    ], axis=1)
    .fillna(0)
    .astype(int)
    .assign(Total = lambda x: x["A"] + x["B"])
    .sort_values("Total", ascending=False)
)["Total"]

print("Most: ", type_comparison.idxmax())
print("Min: ", type_comparison.idxmin())

Most:  Water
Min:  Ice

How many unique primary types (Type 1) exist?

In [74]:
 # put your answer here
print("Total unique type 2 values: ", df["Type 2"].nunique())

Total unique type 2 values:  18

How many unique secondary types (Type 2) exist?

In [73]:
 # put your answer here
print("Total unique type 2 values: ", df["Type 2"].nunique())

Total unique type 2 values:  18


Which primary types have the most dual-type combinations?

In [127]:
# Drop null type 2
dual_type_df = df.dropna(subset=['Type 2'])

# Compute
pairs = dual_type_df.groupby('Type 1')['Type 2'].nunique()
most = pairs.idxmax()
count = pairs.max()

print(f"The primary type with the most unique Type 2 combinations is: {most}")
print(f"It has {count} different secondary types")

The primary type with the most unique Type 2 combinations is: Water
It has 14 different secondary types

Which type has the highest mean Attack?

In [86]:
# put your answer here
print("Primary type with highest mean attack: ", df.groupby("Type 1")["Attack"].mean().idxmax())

Primary type with highest mean attack:  Dragon

Which type has the lowest mean Defense?

In [90]:
# put your answer here
print("Primary type with lowest mean defence: ", df.groupby("Type 1")["Defense"].mean().idxmin())

Primary type with lowest mean defence:  Normal


Which generation has the highest average Speed?

In [95]:
# put your answer here
print("Generation with highest average Speed: ", df.groupby("Generation")["Speed"].mean().idxmax())

Generation with highest average Speed:  1

## 5. Groupby & Aggregation `(13 pts)`

Compute the average Attack per primary type.

In [94]:
# put your answer here
df.groupby("Type 1")["Attack"].mean()

Type 1
Bug          70.971014
Dark         88.387097
Dragon      112.125000
Electric     69.090909
Fairy        61.529412
Fighting     96.777778
Fire         84.769231
Flying       78.750000
Ghost        73.781250
Grass        73.214286
Ground       95.750000
Ice          72.750000
Normal       73.469388
Poison       74.678571
Psychic      71.456140
Rock         92.863636
Steel        92.703704
Water        74.151786
Name: Attack, dtype: float64

Compute the maximum HP per generation.

In [96]:
# put your answer here
df.groupby("Generation")["HP"].idxmax()

Generation
1    121
2    261
3    351
4    473
5    655
6    792
Name: HP, dtype: int64

Compute the total number of Pokémon per primary type.

In [104]:
# put your answer here
df.drop_duplicates(subset=["Name"])["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

For each type, compute:

- mean Attack

- mean Defense

- mean Speed

In [112]:
# put your answer here
df.groupby("Type 1")[["Attack", "Defense", "Speed"]].mean()

              Attack     Defense       Speed
Type 1
Bug        70.971014   70.724638   61.681159
Dark       88.387097   70.225806   76.161290
Dragon    112.125000   86.375000   83.031250
Electric   69.090909   66.295455   84.500000
Fairy      61.529412   65.705882   48.588235
Fighting   96.777778   65.925926   66.074074
Fire       84.769231   67.769231   74.442308
Flying     78.750000   66.250000  102.500000
Ghost      73.781250   81.187500   64.343750
Grass      73.214286   70.800000   61.928571
Ground     95.750000   84.843750   63.906250
Ice        72.750000   71.416667   63.458333
Normal     73.469388   59.846939   71.551020
Poison     74.678571   68.821429   63.571429
Psychic    71.456140   67.684211   81.491228
Rock       92.863636  100.795455   55.909091
Steel      92.703704  126.370370   55.259259
Water      74.151786   72.946429   65.964286

For each generation, compute:

- count

- mean Total

- number of Legendary Pokémon (hint: use sum on Boolean)

In [125]:
# put your answer here
c = df["Generation"].value_counts().sort_index()
t = df.groupby("Generation")["Total"].mean().rename("Mean total")
l = df.groupby("Generation")["Legendary"].sum()

result = pd.concat([c, t, l], axis=1)
result.columns = ["Count", "Mean Total", "Legendary Counts"]
result

            Count  Mean Total  Legendary Counts
Generation
1             166  426.813253                 6
2             106  418.283019                 5
3             160  436.225000                18
4             121  459.016529                13
5             165  434.987879                15
6              82  436.378049                 8

Which type combination (Type 1 + Type 2) has the highest average Attack?

In [134]:
df.dropna(subset=['Type 2']).groupby(['Type 1', 'Type 2'])['Attack'].mean().idxmax()

('Ground', 'Fire')

Which generation has the highest proportion of Legendary Pokémon?

In [142]:
# put your answer here
print("Gen with most legendary:", (df.groupby("Generation")["Legendary"].mean() * 100).round(1).idxmax())

Gen with most legendary: 3


Which primary type has the largest variance in HP?

In [145]:
# put your answer here
print("With highest var hp: ", df.groupby("Type 1")["HP"].var().idxmax())

With highest var:  Normal

Which primary type has the highest median Speed?

In [146]:
# put your answer here
print("With highest median speed: ", df.groupby("Type 1")["Speed"].median().idxmax())

With highest median speed:  Flying

Group Pokémon by whether they are Legendary or not. Compare:

- mean Total

- mean Attack

- mean Defense

- mean Speed

In [151]:
# put your answer here
df.groupby("Legendary")[["Total", "Attack", "Defense", "Speed"]].mean()

                Total      Attack    Defense       Speed
Legendary
False      417.213605   75.669388  71.559184   65.455782
True       637.384615  116.676923  99.661538  100.184615

Show the top 5 strongest types by mean Total.

In [157]:
# put your answer here
df.groupby("Type 1")["Total"].mean().sort_values(ascending=False).head(5)

Type 1
Dragon     550.531250
Steel      487.703704
Flying     485.000000
Psychic    475.947368
Fire       458.076923
Name: Total, dtype: float64

Rank generations by their average Attack.

In [159]:
# put your answer here
df.groupby("Generation")["Attack"].mean().sort_values(ascending=False)

Generation
4    82.867769
5    82.066667
3    81.625000
1    76.638554
6    75.804878
2    72.028302
Name: Attack, dtype: float64

Show the top 10 fastest Pokémon using nlargest(10, "Speed").

In [161]:
# put your answer here
df.nlargest(10, "Speed")["Name"]

431            DeoxysSpeed Forme
315                      Ninjask
71         AlakazamMega Alakazam
154    AerodactylMega Aerodactyl
428           DeoxysNormal Forme
429           DeoxysAttack Forme
19         BeedrillMega Beedrill
275        SceptileMega Sceptile
678                     Accelgor
109                    Electrode
Name: Name, dtype: object